body {


}
.gridContainer {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 300px 300px 300px;
  gap
}

.item {
  width: 300px;
  height: 300px;
  
}

.item:first-child{
background-color: darkgoldenrod;
}
#seven {
  background-color: darkgoldenrod;
}
#three {
  background-color: darkslategrey;
}
#four {
  background-color: darkslategrey;
}
#two {
  background-color: bisque;
}
#eight {
  background-color: bisque;
}
#nine {
  background-color: bisque;
}
#five {
  background-color: rgb(192, 62, 15);
}


/*form {
  text-align: center;
  color: brown;
}

for mobile 480x320
@media (max-width: 480px) and (max-height: 320px){
    body{
        width: auto;
    }
}

for iPad 1024x768
@media (max-width: 1024px) and (max-height: 768px){
    body{
        width: auto;
    }
}

for desktop 1680x1050
@media(max-width: 1680px) and (max-height: 1050px){
    body{
        width: auto;
    }
}